        /* ---- reset ---- */

        body {
            margin: 0;
            font: normal 75% 'Libre Baskerville', sans-serif;
            color: white;
        }

        canvas {
            display: block;
            vertical-align: bottom;
        }
        /* ---- particles.js container ---- */

        #particles-js {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #000000;
            background-image: url("");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            overflow: hidden;
        }
        /* ---- stats.js ---- */
        /*
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    display: none;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}*/

        .navbar-light {
            margin: 0;
            background-color: #fafafa;
        }

        .navbar-text,
        .navbar-right {
            font-size: 1.5em;
        }

        .navbar-text:hover {
            cursor: pointer;
        }

        a {
            color: black;
            text-decoration: none;
        }

        a:hover,
        a:focus {
            text-decoration: none;
            color: lightslategrey;
            background-color: transparent !important;
        }

        .content-container {
            z-index: 1;
            position: relative;
            font-size: 3em;
            color: white;
            text-align: center;
            height: 15vh;
            margin: 0 auto;
            font-family: 'Alegreya SC', sans-serif;
        }

        .content-wrapper {
            padding: 12vh 0;
        }

        .links,
        .links a {
            opacity: 0.6;
            color: white;
            letter-spacing: 1px;
            font-family: 'Alegreya SC', sans-serif;
        }

        .header{
            opacity: 0.6;
            color: white;
            cursor: default;
        }

        .links:hover {
            opacity: 0.9;
            cursor: pointer;
            letter-spacing: 2px;
            color: white;
        }

        @media only screen and (min-width: 1200px) {
            .content-container {
                max-width: 15vw;
            }
        }

        @media only screen and (max-width: 1200px) {
            .content-container {
                max-width: 20vw;
            }
        }

        @media only screen and (max-width: 979px) {
            .content-container {
                max-width: 25vw;
            }
        }

        @media only screen and (max-width: 767px) {
            .content-container {
                max-width: 40vw;
            }
        }

        @media only screen and (max-width: 480px) {
            .content-container {
                max-width: 55vw;
            }
        }

        @media only screen and (max-width: 320px) {
            .content-container {
                max-width: 75vw;
            }
        }
        /*talks*/

        .talks-body {
            background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/stardust.png');
        }

        .main-talk-container {
            width: 80vw;
            margin: 0 auto;
        }

        .video-container {
            text-align: center;
        }

        /***** Modal *****/

.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}

.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.modal-body {
    padding: 0 25px 25px 25px;
}

.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}

.modal-header, .modal-footer {
    border: 0;
}

.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}

.video-link {
    padding-top: 70px;
}

.video-link a:hover,
.video-link a:focus {
    outline: 0;
}

a .video-link-text {
    color: #fff;
    font-size: 2em;
    opacity: 0.8;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

a:hover .video-link-text,
a:focus .video-link-text {
    outline: 0;
    color: #fff;
    opacity: 1;
    border-bottom: 1px dotted #fff;
}

a .video-link-icon {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    color: #fff;
    line-height: 50px;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

a .orange{
 background: #e89a3e;
}

a .red{
 background: #FF7575;
}

a .blue{
 background: #7BCAE1;
}
a .video-link-icon:after {
    position: absolute;
    content: "";
    top: -6px;
    left: -6px;
    width: 66px;
    height: 66px;
    background: #444;
    background: rgba(0, 0, 0, 0.1);
    z-index: -99;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

a:hover .video-link-icon,
a:focus .video-link-icon {
    outline: 0;
    background: #fff;
    color: #e89a3e;
}
